{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TO DO</title>
	<link rel="stylesheet" href="{% static 'css/todos/main.css' %}">
</head>
<body>
<div class="root">
	<h1>Todos App</h1>
	<form method="post" action="/">
			{{ todo_form }}
		<button>Create</button>
	</form>

	<ul>
		{% for todo in todos %}
			<li class="todo-list-item">
				<h2 class="collapse-toggle">
					{{ todo.title }}
				</h2>
				<p class="todo-description collapsable">
					{{ todo.description }}
				</p>
				{% if todo.is_done %}
					<p class="green-text"> Done</p>
				{% else %}
					<p class="red-text">Not done</p>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</div>
<script src="{% static 'js/todos/main.js' %}"></script>
</body>
</html>